CREATE OR REPLACE FUNCTION admin_update_user_password(user_id UUID, new_password TEXT) RETURNS BOOLEAN LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN IF NOT EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin') THEN RAISE EXCEPTION 'Unauthorized'; END IF; UPDATE auth.users SET encrypted_password = crypt(new_password, gen_salt('bf')) WHERE id = user_id; RETURN TRUE; END; \$\$;
